<div class="d-flex"
     data-controller="overtime-stats"
     data-trades="<%= @all_trades.to_json %>">

    <div> <%= render 'shared/sidebar' %> </div>

    <div class="border d-flex justify-content-center" style="width: 95%">
        <div class="m-5 p-3 border rounded-5" style="width: 80%; height: 80%">
            <h3>Cumulative P&L</h3>

            <div class="d-flex justify-content-start align-items-center flex-wrap mb-2">
                <button type="button" class="btn btn-sm btn-outline-secondary m-1"
                        data-action="click->overtime-stats#filterDays"
                        data-overtime-stats-days-param="0">All time</button>
                <button type="button" class="btn btn-sm btn-outline-secondary m-1"
                        data-action="click->overtime-stats#filterDays"
                        data-overtime-stats-days-param="30">30 days</button>
                <button type="button" class="btn btn-sm btn-outline-secondary m-1"
                        data-action="click->overtime-stats#filterDays"
                        data-overtime-stats-days-param="14">14 days</button>
                <button type="button" class="btn btn-sm btn-outline-secondary m-1"
                        data-action="click->overtime-stats#filterDays"
                        data-overtime-stats-days-param="7">7 days</button>
                <button type="button" class="btn btn-sm btn-outline-secondary m-1"
                        data-action="click->overtime-stats#filterDays"
                        data-overtime-stats-days-param="5">5 days</button>
                <button type="button" class="btn btn-sm btn-outline-secondary m-1"
                        data-action="click->overtime-stats#filterDays"
                        data-overtime-stats-days-param="4">4 days</button>
                <button type="button" class="btn btn-sm btn-outline-secondary m-1"
                        data-action="click->overtime-stats#filterDays"
                        data-overtime-stats-days-param="3">3 days</button>
                <button type="button" class="btn btn-sm btn-outline-secondary m-1"
                        data-action="click->overtime-stats#filterDays"
                        data-overtime-stats-days-param="2">2 days</button>
                <button type="button" class="btn btn-sm btn-outline-secondary m-1"
                        data-action="click->overtime-stats#filterDays"
                        data-overtime-stats-days-param="1">1 day</button>

                <span class="m-1">Custom:</span>
                <input type="date" class="form-control form-control-sm m-1" style="width: 140px"
                       data-overtime-stats-target="customFrom">
                <span class="m-1">-</span>
                <input type="date" class="form-control form-control-sm m-1" style="width: 140px"
                       data-overtime-stats-target="customTo">
                <button type="button" class="btn btn-sm btn-outline-primary m-1"
                        data-action="click->overtime-stats#applyCustom">Apply</button>
            </div>

            <canvas data-overtime-stats-target="canvas"></canvas>
        </div>

        <div class="m-5 p-3 border rounded-5" style="width: 80%; height: 80%">
            <h3>Daily P&L</h3>
            <canvas data-overtime-stats-target="barCanvas"></canvas>
        </div>
    </div>
</div>
